/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #fff, #cffcf1);
}
.timer-container__container {
  width: 80vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__heading {
  color: #0f172a;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.container__timer-and-control {
  display: flex;
  width: 70vw;
  align-items: center;
  height: 70vh;

  justify-content: space-between;
}
.timer-and-control__timer {
  width: 45%;
  height: 70%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-origin: content-box;
  background-clip: border-box;
}
.timer__container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__time {
  color: #00d9f5;
  font-weight: bold;
  font-size: 25px;
}
.container__status {
  font-size: 20px;
  color: #0f172a;
  font-weight: bold;
}

.timer-and-control__control {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}
.control__buttons-container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-container {
  display: flex;
  margin-right: 10px;
}
.start-btn {
  font-size: 25px;
  color: #0f172a;
  font-weight: 500;
  background-color: transparent;
  border-width: 0px;
  display: flex;
  align-items: center;
}
.start-btn img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.control__set-timer-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40%;
  align-items: center;
  justify-content: space-around;
}
.text {
  text-align: center;
  color: #0f172a;
  font-size: 20px;
  font-weight: 500;
}
.time-control-btn-container {
  display: flex;
  width: 80%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}
.minus,
.puls {
  background-color: transparent;
  border-width: 0px;
  font-size: 30px;
}
.time {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to right, #63f7a3, #00d9f5);
}

@media screen and (min-width: 578px) and (max-width: 1100px) {
  .container__timer-and-control {
    width: 100%;
  }
  .timer-and-control__timer {
    width: 49%;
  }
  .timer-container__container {
    width: 95vw;
    height: 95vh;
    justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {
  .container__timer-and-control {
    flex-direction: column;
  }
  .timer-and-control__timer {
    width: 100%;
  }
  .timer-and-control__control {
    width: 100%;
  }
}
